name: Generate pacman animation

on:
  schedule:
    - cron: "* */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # ⭐ Tambahkan langkah ini
      - name: Move output to dist folder
        run: |
          mkdir -p dist
          mv pacman-contribution-graph.svg dist/pacman-contribution-graph.svg
          mv pacman-contribution-graph-dark.svg dist/pacman-contribution-graph-dark.svg || true

      - name: Push pacman-contribution-graph.svg to pacman-output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: pacman-output   # ⭐ Branch baru agar tidak bentrok dengan snake
          build_dir: dist                # ⭐ Pastikan folder dist sudah ada
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
